<div class="row">
  <div class="col">
    <span class="label label-default"> Digite un numero del 1 al {{numpeliculas}}</span>
    <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar Pelicula">
  </div>
</div>

<div class="card-columns m-5" *ngIf="bandera">
  <div class="card">
      <div class="card-body">
      <h5 class="card-title">Pelicula</h5>
        <p class="card-text">{{ Pelicula.title | uppercase }}</p>
      <hr>
      <h5 class="card-title">Director</h5>
        <p class="card-text">{{ Pelicula.director | uppercase }}</p>
      <hr>
      <h5 class="card-title">Productor</h5>
        <p class="card-text">{{ Pelicula.producer | uppercase }}</p>
    </div>
  </div>
</div>
