<div class="card-columns m-5">
    <div class="card" *ngFor='let film of peliculas'>
      <div class="card-body">
        <h5 class="card-title">Pelicula</h5>
          <p class="card-text">{{ film.title | uppercase }}</p>
        <hr>
        <h5 class="card-title">Director</h5>
          <p class="card-text">{{ film.director | uppercase }}</p>
        <hr>
        <h5 class="card-title">Productor</h5>
          <p class="card-text">{{ film.producer | uppercase }}</p>
      </div>
    </div>
  </div>